/* Estilos generales */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: white;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

@keyframes myAnimation {
    from {
      background-color: rgb(255, 39, 103);
      transform: scale(1);
    }
    to {
      background-color: rgb(187, 14, 80);
      transform: scale(1.1);
    }
}

.logo {
    height: 65px;
}

.go_out-button {
    text-decoration: none;
    color: white;
    box-shadow: 0px 4px 6px #e91e62c5;
    margin-top: 30px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #e91e63;
}

.go_out-button:hover {
    animation: myAnimation 1s ease-in-out;
}


/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e91e63;
    box-shadow: 0px 4px 6px #343535;
}



.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    transition: all 0.3s ease-in-out;
    font-weight: bold;
}

.nav-link {
    font-size: 18px;
    color: white;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 5px;
    text-decoration: none;
}

.nav-links:hover {
    transform: scale(1.1);
}

/* Main */
main {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.place-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-bottom: #2f2f30;
    align-items: center;
    background: white;
}

.place-image-container {
    width: 100%;
    height: auto;
    justify-content: center;
    margin-bottom: 20px;
}

.place-image {
    width: 80%;
    height: auto;
    box-shadow: 0px 4px 6px #343535;
    border-radius: 15px;
}

.place-info-container {
    display: flex;
    padding: 20px;
    border-radius: 25px;
    color: #4c4c4d;
    background-color: #eee8e8d7;
    padding: 15px;
    box-shadow: 0px 4px 6px #343535;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    width: 60%;
}

.reviews-title {
    width: 100%;
}

h2 {
    color: #e91e63;
}

.reviews h2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;
    color: #4c4c4d;
    text-align: center;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    gap: 50px;
    margin-top: 70px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.reviews h2:hover {
    transform: scale(1.1);
}
.review-card {
    background-color: #eee8e8d7;
    border-radius: 20px;
    box-shadow: 0px 4px 6px #343535;
    gap: 60px;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold; 
    color: #4c4c4d;
    display: flex;
    margin-top: 50px;
}

.review-card p:first-child { /* Selecciona el primer párrafo (user_name) */
    color: #e91e63;;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.review-card p:first-child:hover {
    transform: scale(1.1);
}

.review-card p:last-child { /* Selecciona el último párrafo (rating) */
    color: rgb(227, 196, 20);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }

.review-card p:last-child:hover {
    transform: scale(1.1);
}
  
.add-review {
    text-align: center;
    margin-top: 20px;
}

.button-reviews {
    background-color: #e91e63;
    box-shadow: 0px 4px 6px #e91e62c5;
    color: white;
    padding: 15px 32px;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    margin: 0 auto;
    margin-top: 30px;
    font-weight: bold;
    margin-bottom: 45px;
    text-shadow: 0px 2px 2px #2a2b2b;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    position: center;
    cursor: pointer;
}

.button-reviews:hover {
    animation: myAnimation 1s ease-in-out;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    color: #fff; 
    position: fixed;
    bottom: 0;
    width: 100%;
    background-image: radial-gradient(circle at center, #2f2f30, #ffffff);
}
