/* Estilos generales */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}


/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

@keyframes myAnimation {
    from {
      background-color: rgb(255, 39, 103);
      transform: scale(1);
    }
    to {
      background-color: rgb(187, 14, 80);
      transform: scale(1.1);
    }
}

.logo {
    height: 65px;
}

.login-button {
    text-decoration: none;
    color: white;
    box-shadow: 0px 4px 6px #e91e62c5;
    margin-top: 30px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #e91e63;
}

.login-button:hover {
    animation: myAnimation 1s ease-in-out;
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e91e63;
    box-shadow: 0px 4px 6px #343535;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    transition: all 0.3s ease-in-out;
    font-weight: bold;
}

.nav-link {
    font-size: 18px;
    color: white;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 5px;
    text-decoration: none;
}

.nav-links:hover {
    transform: scale(1.1);
}

/* Main */
main {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-form {
    background-color: rgba(228, 222, 222, 0.911);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px #343535;
    width: 400px;
    border-radius: 15px;
}

#login-form h2 {
    font-weight: bold;
    margin-bottom: 45px;
    color: #4c4c4d;
    text-align: center;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}

#login-form label {
    display: block;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

#login-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#login-form button {
    background-color: #e91e63;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    display: block;
    text-align: center;
    box-shadow: 0px 4px 6px #343535;
    margin-top: 20px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

#login-form button:hover {
    animation: myAnimation 1s ease-in-out;
}

.error-message {
    color: red;
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
}

.input-error {
    border-color: red;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    color: #fff; 
    position: fixed;
    bottom: 0;
    width: 100%;
    background-image: radial-gradient(circle at center, #2f2f30, #ffffff);
}
