/* Estilos generales */
body {
    font-family: 'Montserrat', sans-serif; /* O cualquier fuente similar a Airbnb */
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
    background-color: white; /* Color de fondo suave */
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

@keyframes myAnimation {
    from {
      background-color: rgb(255, 39, 103);
      transform: scale(1);
    }
    to {
      background-color: rgb(187, 14, 80);
      transform: scale(1.1);
    }
}

.logo {
    height: 65px;
}

.login-button {
    text-decoration: none;
    color: white;
    box-shadow: 0px 4px 6px #e91e62c5;
    margin-top: 30px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #e91e63;
}

.login-button:hover {
    animation: myAnimation 1s ease-in-out;
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e91e63;
    box-shadow: 0px 4px 6px #343535;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    transition: all 0.3s ease-in-out;
    font-weight: bold;
}

.nav-link {
    font-size: 18px;
    color: white;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 5px;
    text-decoration: none;
}

.nav-links:hover {
    transform: scale(1.1);
}

/* Main */
main {
    padding: 50px;
}

.title-future-trips {
    font-weight: bold;
    margin-bottom: 45px;
    color: #4c4c4d;
    text-align: center;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}

#filter {
    display: flex;
    justify-content: flex-start; 
}

.place-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
    flex-wrap: nowrap;
    border-radius: 15px;
}

.details-place {
    background-color: #eee8e8d7;
    padding: 20px;
    width: calc(33.33% - 20px); /* Ajusta el ancho para que quepan 3 en una fila */
    flex-wrap: nowrap; /* Ajusta el ancho según el número de columnas */
    box-shadow: 0px 4px 6px #343535;
    border-radius: 15px;
}

.place-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    box-shadow: 0px 4px 6px #343535;
}

.button {
    background-color: #e91e63;
    box-shadow: 0px 4px 6px #e91e62c5;
    color: white;
    padding: 15px 32px;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    margin: 0 auto;
    margin-top: 30px;
    font-weight: bold;
    margin-bottom: 45px;
    text-shadow: 0px 2px 2px #2a2b2b;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    position: center;
    cursor: pointer;
}

.button:hover {
    animation: myAnimation 1s ease-in-out;
}

.button_reserve {
    background-color: #e91e63;
    box-shadow: 0px 4px 6px #343535;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
}

.button_reserve:hover {
    background: linear-gradient(to left, rgb(255, 39, 103), rgb(187, 14, 80));
    transform: scale(1.1);
  }

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    color: #fff; 
    position: fixed;
    bottom: 0;
    width: 100%;
    background-image: radial-gradient(circle at center, #2f2f30, #ffffff);
}
