/* Estilos generales */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: white;
    position: relative;
    text-align: center;
    position: relative;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

@keyframes myAnimation {
    from {
      background-color: rgb(255, 39, 103);
      transform: scale(1);
    }
    to {
      background-color: rgb(187, 14, 80);
      transform: scale(1.1);
    }
}

.logo {
    height: 65px;
}

.login-button {
    text-decoration: none;
    color: white;
    box-shadow: 0px 4px 6px #e91e62c5;
    margin-top: 30px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #e91e63;
}

.go_out-button:hover {
    animation: myAnimation 1s ease-in-out;
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e91e63;
    box-shadow: 0px 4px 6px #343535;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    transition: all 0.3s ease-in-out;
    font-weight: bold;
}

.nav-link {
    font-size: 18px;
    color: white;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 5px;
    text-decoration: none;
}

.nav-links:hover {
    transform: scale(1.1);
}


/* Main */
main {
    flex: 1;
    padding: 50px;
    display: flex;
    justify-content: center;
}

.reviews-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
    color: white;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.reviews h2 {
    font-weight: bold;
    margin-bottom: 45px;
    color: #4c4c4d;
    text-align: center;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}

.reviews {
    background-color: white;
    padding: 20px;
}

#review-form {
    gap: 30px;
    margin-top: 30px;
    text-align: Left;
    align-items: flex-start;
    border-radius: 15px;
    width: 100%;
    max-width: 1200px;
}

#review-form label {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: #4c4c4d;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    align-items: left;
    text-align: left;
    border-radius: 15px;
    font-size: 25px;
    text-decoration: none;
    border: none;
}
   
#review-form input,
#review-form textarea {
    background-color: rgba(228, 222, 222, 0.911);
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0px 4px 6px #343535;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #4c4c4d;
    margin-bottom: 35px;
    width: 100%;
    border: none;
    text-decoration: none;
    margin-top: 0.7px;
}  

.review-text {
    margin-bottom: 20px;
    margin-top: 20px;
    align-items: center;
    text-align: center;
    margin: 40px auto; 
    font-size: 25px;
    text-decoration: none;
}

.star-rating {
    margin-bottom: 20px;
    margin-top: 20px;
    align-items: center;
    text-align: center;
    margin: 40px auto; 
}

.star-rating a {
    color: #e91e63; /* gris (normal) */
    font-size: 70px;
    text-decoration: none;
}

.star-rating:hover a:hover ~ a {
    color: #e91e63; /* gris (normal) */
}

.star-rating:hover a {
    color: #f39c12;
}

.star-rating .selected {
    color: orange;
}

.reviews button {
    background-color: #e91e63;
    box-shadow: 0px 4px 6px #e91e62c5;
    color: white;
    padding: 15px 32px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;    
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    position: center;
    cursor: pointer;
    border: none;
    align-items: center;
    text-align: center;
    margin: 40px auto; 
}

.reviews button:hover {
    animation: myAnimation 1s ease-in-out;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    color: #fff; 
    position: fixed;
    bottom: 0;
    width: 100%;
    background-image: radial-gradient(circle at center, #2f2f30, #ffffff);
}
